---
import BaseLayout from '../layouts/BaseLayout.astro';
import about from '../../content/about/index.md';
---
<BaseLayout>
<section class="container">
<article set:html={about.compiledContent}/>
</section>
</BaseLayout>