---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <section class="container">
    <h1>Contact</h1>
    <p><a href="mailto:hello@julianfkrueger.com">Email me</a></p>
  </section>
</BaseLayout>
